<form method="post" action="/post_team_uk">
  <p>New UK Team: <input type="text" name="teamname" placeholder="Team name"></p>
  <p>Date: <input type="date" name="date"></p>
  <input type="submit" value="Add new team">
</form>
