<form method="post" action="/post_swap_uk">
  <input type="hidden" name="_method" value="patch">
  <p>Current team on rota and date: <input type="text" name="currentteamname" placeholder="Team name"></p>
  <p>Date: <input type="date" name="currentdate"></p>
  <p>Team to swap on rota and date: <input type="text" name="swapteamname" placeholder="Team name"></p>
  <p>Date: <input type="date" name="swapdate"></p>
  <input type="submit" value="Swap">
</form>
